{
  "swagger": "2.0",
  "info": {
    "version": "2021-11-01-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/kubeEnvironments": {
      "get": {
        "tags": [
          "KubeEnvironments"
        ],
        "summary": "Get all KubeEnvironments for a subscription.",
        "description": "Description for Get all KubeEnvironments for a subscription.",
        "operationId": "KubeEnvironments_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KubeEnvironmentCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List edge environments by subscription": {
            "$ref": "./examples/KubeEnvironments_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/kubeEnvironments": {
      "get": {
        "tags": [
          "KubeEnvironments"
        ],
        "operationId": "KubeEnvironments_ListByResourceGroup",
        "description": "Get all KubeEnvironments in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KubeEnvironmentCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List environments by resource group": {
            "$ref": "./examples/KubeEnvironments_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.App/kubeEnvironments/{name}": {
      "get": {
        "tags": [
          "KubeEnvironments"
        ],
        "operationId": "KubeEnvironments_Get",
        "description": "Get the properties of an KubeEnvironment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the KubeEnvironment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KubeEnvironment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get edge environment by name": {
            "$ref": "./examples/KubeEnvironments_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "KubeEnvironments"
        ],
        "description": "Creates or updates an KubeEnvironment.",
        "operationId": "KubeEnvironments_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the KubeEnvironment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentEnvelope",
            "in": "body",
            "description": "Configuration details of the KubeEnvironment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KubeEnvironment"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KubeEnvironment"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/KubeEnvironment"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create kube environments": {
            "$ref": "./examples/KubeEnvironments_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "KubeEnvironments"
        ],
        "summary": "Delete an KubeEnvironment.",
        "description": "Description for Delete an KubeEnvironment.",
        "operationId": "KubeEnvironments_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the KubeEnvironment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed"
          },
          "202": {
            "description": "Delete operation is accepted"
          },
          "204": {
            "description": "KubeEnvironment does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete edge environment by name": {
            "$ref": "./examples/KubeEnvironments_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "KubeEnvironments"
        ],
        "summary": "Update Edge Environment's properties.",
        "description": "Patches a Managed Environment. Only patching of tags is supported currently",
        "operationId": "KubeEnvironments_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the KubeEnvironment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KubeEnvironment"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Managed Environment": {
            "$ref": "./examples/KubeEnvironments_Patch.json"
          }
        }
      }
    }
  },
  "definitions": {
    "KubeEnvironment": {
      "description": "An environment for Kubernetes cluster specialized for web workloads by Azure App Service",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "./CommonDefinitions.json#/definitions/ExtendedLocation"
        },
        "properties": {
          "description": "KubeEnvironment resource specific properties",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state of the Kubernetes Environment.",
              "enum": [
                "Succeeded",
                "Failed",
                "Canceled",
                "Waiting",
                "InitializationInProgress",
                "InfrastructureSetupInProgress",
                "InfrastructureSetupComplete",
                "ScheduledForDelete"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "KubeEnvironmentProvisioningState",
                "modelAsString": true
              }
            },
            "deploymentErrors": {
              "description": "Any errors that occurred during deployment or deployment validation",
              "type": "string",
              "readOnly": true
            },
            "defaultDomain": {
              "description": "Default Domain Name for the cluster",
              "type": "string",
              "readOnly": true
            },
            "staticIp": {
              "description": "Static IP of the KubeEnvironment",
              "type": "string"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "KubeEnvironmentCollection": {
      "description": "Collection of KubeEnvironments",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/KubeEnvironment"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
